.background {
    position: relative;
    height: 100vh;
    width: 100vw;
    /* object-fit: cover;
    object-position: center; */
    background-image: url(../glassesImage/background.jpg);
    background-position: center;
    background-size: cover;
}
.overlay {
    position: absolute;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0.4;
    z-index: 1;
}
.glassList {
    position: relative;
    z-index: 5;
    width: 1000px;
    height: 200px;
    background-color: white;
    margin: auto;
}
